<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Request the necessary permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeMaintenanceTracker"
        tools:targetApi="31">

        <!-- SplashActivity Declaration as Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IntroPage1Activity Declaration -->
        <activity
            android:name=".IntroPage1Activity"
            android:exported="true" />

        <activity android:name=".IntroPage2Activity"
            android:exported="true" />

        <activity android:name=".IntroPage3Activity"
            android:exported="true" />


        <!-- MainActivity Declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- TimerStopwatchActivity Declaration -->
        <activity
            android:name=".TimerStopwatchActivity"
            android:exported="false" />

        <!-- TaskNotificationReceiver Declaration -->
        <receiver
            android:name=".utils.TaskNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <!-- Widget Provider Declaration -->
        <receiver
            android:name=".MyWidgetProvider"
            android:label="Home Maintenance Tracker Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>
</manifest>
